$whatsapp_color: #455964;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.login {
  background-color: $whatsapp_color;
  height: 100vh;
  justify-content: space-around;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13%;

    h1 {
      color: $white;
      font-size: 120px;
    }

    img {
      margin-right: 2%;
      height: 150px;
      width: 150px;
    }
  }

  .google-btn {
    cursor: pointer;
    margin-left: 37%;
    margin-top: 12%;
    width: 584px;
    height: 100px;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    .google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 100px;
      height: 100px;
      border-radius: 2px;
      background-color: $white;
    }
    .google-icon {
      position: absolute;
      margin-top: 35px;
      margin-left: 35px;
      width: 30px;
      height: 30px;
    }
    .btn-text {
      float: right;
      margin-right: 55px;
      margin-top: 20px;
      color: $white;
      font-size: 40px;
      letter-spacing: 0.2px;
      font-weight: bold;
    }
    &:hover {
      box-shadow: 0 3px 6px $google-blue;
    }
    &:active {
      background: $button-active-blue;
    }
  }
}
